$primary-font: 'Brandon Text Regular';
$primary-bold: 'Brandon Text Bold';


p {
    color: #666;
    font-family: $primary-font;
}

.vehicle {
    display: block;
    img {
        margin: 5px;
    }
    h3 {
        font-family: $primary-bold;
        display: inline-block;
    }

    span {
        font-family: $primary-bold;
        color: #222222;
    }

    .battery {
        margin: 0px 20px;
        vertical-align: middle;
        display: inline-block;
    }
}

.description {
    margin: 10px;
}

.rover-list {
    margin: 5px;
}