<mat-accordion *ngFor="let vehicle of vehicles">
    <div class="rover-list">
        <mat-expansion-panel>
        <mat-expansion-panel-header (click)="onClickMe(vehicle)">
            <mat-panel-title>
                <div class="vehicle">
                    <h3> {{vehicle.name}} </h3>
                    <div class="battery">
                    <app-battery [color]="vehicle.power_level_percent < 50 ? low : high" [percentage]="vehicle.power_level_percent"></app-battery>
                    </div>
                </div>
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="description">
                <p> Model: {{vehicle.model}} </p> 
                <p> Power Level Percent: {{vehicle.power_level_percent}} </p>
            </div>
        </mat-expansion-panel>
    </div>
  </mat-accordion>
  