$primary-font: 'Brandon Text Regular';
$primary-bold: 'Brandon Text Bold';

.header-container {
 display: block;
 width: 380px;
 margin: 10px;
 img {
     display: inline-block;
 }
 h1 {
    font-family: $primary-font;
    display: inline-block;
    vertical-align: top;
    margin: 30px 10px;
    color: #115172;
 }
 span {
    font-family: $primary-bold;
 }
 p {
    font-family: $primary-font;
    font-size: 12px;
    color: #AAAAAA;
 }
}

.example-container {
    z-index: 2;
    height: 100%;
}

.side-container {
    height: 100%;
}

.map-container {
    height: 650px;
    margin: 0px 10px;
}